@model List<Student>
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Students</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Rank</th>
                    <th>StateId</th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.Id</td>
                        <td>@student.Name</td>
                        <td>@student.Rank</td>
                        <td>@student.StateId</td>
                        <td>
                            <a asp-area="" asp-controller="Home" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                        </td>
                        <td>
                            <a asp-area="" asp-controller="Home" asp-action="Delete" asp-route-id="@student.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No students found!</p>
    }
</div>
